<footer>
    <br>
    <div id="footer-title">
        <h3>Minhas redes sociais</h3>
        <h4>Conecte-se comigo!</h4>
    </div>
    <br>
    <div id="footer-social-media">
        <div>
            <img src="/images/facebook-logo.jpg" alt="Facebook Logo">
            <p>FACEBOOK</p>
        </div>
        <div>
            <img src="/images/facebook-logo.jpg" alt="Facebook Logo">
            <p>FACEBOOK</p>
        </div>
        <div>
            <img src="/images/instagram-logo.jpg" alt="Instagram Logo">
            <p>INSTAGRAM</p>
        </div>
        <div>
            <img src="/images/instagram-logo.jpg" alt="Instagram Logo">
            <p>INSTAGRAM</p>
        </div>
        <div>
            <img src="/images/twitter-logo.jpg" alt="Twitter Logo">
            <p>TWITTER</p>
        </div>
        <div>
            <img src="/images/linkedin-logo.png" alt="Linkedin Logo">
            <p>LINKEDIN</p>
        </div>
        <div>
            <img src="/images/github-logo.jpg" alt="Github Logo">
            <p>GITHUB</p>
        </div>
    </div>
    <br>
</footer>