<nav>
    <a href="/"><p>HOME</p></a>
    <a href="/sobremim"><p>SOBRE MIM</p></a>
    <a href="/myskills"><p>MY SKILLS</p></a>
    <a href="/projetos"><p>PROJETOS</p></a>
    <a href="/contato"><p>CONTATO</p></a>
</nav>