<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>Angular JS</h1>
            <br>
            <h3>Angular JS é um framework JavaScript de código aberto, mantido pelo Google, que auxilia na execução de single-page applications.</h3>
            <br>
            <p>
                
                <br>
            </p>
            <p>
                Curso Angular 9 Essencial (Udemy - Leonardo Leitão).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>