<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>API</h1>
            <br>
            <h3>Interface de Programação de Aplicações ou Interface de Programação de Aplicação, cuja sigla API provém do Inglês Application Programming Interface, é um conjunto de rotinas e padrões estabelecidos por um software para a utilização das suas funcionalidades por aplicativos que não pretendem envolver-se em detalhes da implementação do software, mas apenas usar seus serviços.</h3>
            <br>
            <p>
                O que é e o que faz uma API.<br>
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>