<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {
        links:['header', 'navbar', 'home', 'footer'],
        title: 'Julio Cesar Barbosa - Contato'
    }) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
    </body>
    <%- include('partials/footer.ejs') %>
</html>