<form method="POST" action="/formularioenviado">
    <h3>Formulário</h3>
    <label for="nome">Nome: </label>
    <input type="text" name="nome" id="nome" placeholder="Me diga seu nome 😉" required>
    <br>
    <label for="email">E-mail: </label>
    <input type="email" name="email" id="email" placeholder="Deixe o seu email 😉">
    <br>
    <label for="cidade">Cidade: </label>
    <input type="text" name="cidade" id="cidade" placeholder="Me diga de onde você é 😉" required>
    <br>
    <label for="texto">Escreva alguma coisa para mim: </label>
    <br>
    <textarea name="texto" id="texto" cols="30" rows="10" placeholder="Diga algo para mim. Abra o seu coração 😉"></textarea>
    <br>
    <button type="submit">Enviar</button>
</form>