<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>CSS</h1>
            <br>
            <h3>Cascading Style Sheets é um mecanismo para adicionar estilo a um documento web. O código CSS pode ser aplicado diretamente nas tags ou ficar contido dentro das tags. Também é possível, em vez de colocar a formatação dentro do documento, criar um link para um arquivo CSS que contém os estilos.</h3>
            <br>
            <ul>
                <li>O que é e o que faz a linguagem de estilo CSS.</li>
                <li>Como vincular o arquivo CSS com o arquivo HTML.</li>
                <li>Regras de CSS e uso correto dos seletores.</li>
                <li>Seletores, propriedades e valores.</li>
                <li>Seletores de Tags, ID, Classes, Combinados e Descendentes.</li>
                <li>Tipografia CSS.</li>
                <li>Cores e Background.</li>
                <li>Modelos de Caixa.</li>
                <li>Elementos de linha e bloco.</li>
                <li>Layout Responsivo.</li>
                <li>Viewports.</li>
                <li>Medidas Relativas.</li>
                <li>Media Queries.</li>
                <li>O que é e como funciona a metodologia Flexbox.</li>
                <li>Como funciona a estrutura do Flexbox e a utilização do container pai (flex-container) e seus elementos filhos (flex-items).</li>
                <li>Como utilizar as propriedades "display" e "flex-wrap".</li>
                <li>Como funcionam os eixos (main axis e cross axis) em um container flex.</li>
                <li>Como utilizar a propriedade "flex-direction".</li>
                <li>Como utilizar as propriedades "justify-content" e "align-items".</li>
                <li>Como utilizar as propriedades "order", "flex-grow" e "align-self" em elementos "flex-items".</li>
                <li>Como utilizar pseudo-seletores e pseudo-classes.</li>
                <li>Como utilizar posicionamentos relativos, absolutos e fixos.</li>
                <li>Como utilizar a propriedade "z-index".</li>
                <li>Como implementar Transições utilizando CSS.</li>
                <li>Como utilizar a propriedade "transition"</li>
                <li>Como utilizar Animações com CSS.</li>
                <li>Como utilizar as propriedades "animation", "animation-name", "animation-duration" e "animation-iteration-count".</li>
            </ul>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>