<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>CSS</h1>
            <br>
            <h3>Cascading Style Sheets é um mecanismo para adicionar estilo a um documento web. O código CSS pode ser aplicado diretamente nas tags ou ficar contido dentro das tags. Também é possível, em vez de colocar a formatação dentro do documento, criar um link para um arquivo CSS que contém os estilos.</h3>
            <br>
            <p>
                O que é e o que faz a linguagem de estilo CSS.<br>
                Como vincular o arquivo CSS com o arquivo HTML.<br>
                Regras de CSS e uso correto dos seletores.<br>
                Seletores, propriedades e valores.<br>
                Seletores de Tags, ID, Classes, Combinados e Descendentes.<br>
                Tipografia CSS.<br>
                Cores e Background.<br>
                Modelos de Caixa.<br>
                Elementos de linha e bloco.<br>
                Layout Responsivo.<br>
                Viewports.<br>
                Medidas Relativas.<br>
                Media Queries.<br>
                O que é o Flexbox.<br>
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>