<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>Git</h1>
            <br>
            <h3>Git é um sistema de controle de versões distribuído, usado principalmente no desenvolvimento de software, mas pode ser usado para registrar o histórico de edições de qualquer tipo de arquivo.</h3>
            <br>
            <p>
                O que é e o que faz o Git.<br>
                Como instalar o Git.<br>
                Como instalar o Git Bash e verificar a versão do git via comando no terminal.<br>
                O que são repositórios locais e remotos.<br>
                Como inicializar o Git e indicar que uma pasta será versionada por ele via comando no terminal (Criar um repositório).<br>
                Como configurar o nome e o e-mail de usuário no projeto Git via comando no terminal.<br>
                Como "linkar" o repositório local ao repositório remoto via comando no terminal.<br>
                Como funciona o fluxo de trabalho com o Git.<br>
                Como o Git rastreia os arquivos novos e modificados.<br>
                Como verificar o status dos arquivos no projeto Git via comando no terminal.<br>
                Como adicionar arquivos via comando Git no terminal.<br>
                Como fazer "commits" dos arquivos via comando no Git terminal.<br>
                Como subir arquivos para o repositório remoto via comando Git no terminal.<br>
                Como baixar o repositório do Github via comando Git no terminal.<br>
                Como atualizar o repositório local com as modificações feitas no repositório remoto via comando Git no terminal.<br>
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Curso Dominando Git e Github (Udemy - João Rubens). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).   
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>