<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>Github</h1>
            <br>
            <h3>GitHub é uma plataforma de hospedagem de código-fonte e arquivos com controle de versão usando o Git. Ele permite que programadores, utilitários ou qualquer usuário cadastrado na plataforma contribuam em projetos privados e/ou Open Source de qualquer lugar do mundo.</h3>
            <br>
            <p>
                O que é e o que faz o Github.<br>
                Como criar uma conta no Github.<br>
                Como criar um repositório.<br>
                Como excluir um repositório.<br>
                Como escolher as opçoes de nome, descrição, publico, privado e "README" no repositório.<br>
                <br>            
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Curso Dominando Git e Github (Udemy - João Rubens). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>