<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {
        links:['header', 'navbar', 'home', 'footer'],
        title: 'Julio Cesar Barbosa - Home'
    }) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div id="welcome-container">
            <br>
            <h1>BEM-VINDO!</h1>
            <br>
            <p>Olá, seja bem-vindo à minha aplicação interativa!</p>
            <br>
            <p>Meu nome é Julio Cesar Barbosa, nesse ambiente eu aplico meus conhecimentos em Desenvolvimento Web em um espaço interativo, com o objetivo de falar um pouco sobre mim, meu interesse pela programação, meus conhecimentos em desenvolvimento de forma geral e formas de se conectar e se comunicar comigo via e-mail e redes sociais.</p>
            <br>
            <p>Essa é a página inicial, eu agradeço de coração a sua visita e vou te explicar de forma breve como você pode navegar nesse local, vem comigo! ✌️</p>
            <br>
            <p></p>
            <br>
        </div>
    </body>
    <%- include('partials/footer.ejs') %>
</html>