<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>HTML</h1>
            <br>
            <h3>
                HTML (Linguagem de Marcação de Hipertexto) é uma linguagem utilizada na construção de páginas na Web.
                <br>
                Foi criada por Tim Berners-Lee e Roberto Cailliau com o objetivo de 
            </h3>
            <br>
            <ul>
                <li>O que é e o que faz a linguagem de marcação HTML.</li>
                <li>Tags, atributos e estrutura básica do HTML.</li>
                <li>Tags de texto.</li>
                <li>Listas ordenadas, desornadas e aninhadas.</li>
                <li>Rotas, hiperlinks e imagens.</li>
                <li>Tags semânticas.</li>
                <li>Estrutura de um Website.</li>
                <li>Elementos de linha, elementos de bloco e propriedade Display.</li>
                <li>Como criar formulários.</li>
                <li>Formulários avançados: Select.</li>
                <li>Como utilizar Radio Buttons e Checkboxes.</li>
                <li></li>
                <li></li>
            </ul>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>