<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>HTML</h1>
            <br>
            <h3>HTML é uma linguagem de marcação utilizada na construção de páginas na Web. Documentos HTML podem ser interpretados por navegadores. A tecnologia é fruto da junção entre os padrões HyTime e SGML. HyTime é um padrão para a representação estruturada de hipermídia e conteúdo baseado em tempo.</h3>
            <br>
            <p>
                O que é e o que faz a linguagem de marcação HTML.<br>
                Tags, atributos e estrutura básica do HTML.<br>
                Tags de texto.<br>
                Listas ordenadas, desornadas e aninhadas.<br>
                Rotas, hiperlinks e imagens.<br>
                Tags semânticas.<br>
                Estrutura de um Website.<br>
                Elementos de linha, elementos de bloco e propriedade Display.<br>
                Como criar formulários.<br>
                Formulários avançados: Select.<br>
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>