<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>Java</h1>
            <br>
            <h3>Java é uma linguagem de programação orientada a objetos desenvolvida na década de 90 por uma equipe de programadores chefiada por James Gosling, na empresa Sun Microsystems, que em 2008 foi adquirido pela empresa Oracle Corporation.</h3>
            <br>
            <p>
                Como baixar e instalar o ambiente de desenvolvimento Java.<br>
                Como verificar a versão instalada do Java via comando no terminal.<br>
                Como acessar o "jshell" do Java no terminal via comando.<br>
                O que são os tipos de dados primitivos e como utilizá-los da forma correta.<br>
                Como declarar e atribuir valores em variáveis.<br>
                Como armazenar em variáveis dados do tipo texto, números inteiros e números decimais.<br>
                Como imprimir dados no terminal.<br>
                Como utilizar operadores aritméticos para soma, subtração, divisão e multiplicação.<br>
                Como declarar variáveis do tipo booleano e armazenar valores lógicos.<br>
                Como usar os operadores lógicos AND e OR.<br>
                Como usar o operador ternário.<br>
                Como usar as estruturas condicionais IF, ELSE IF, ELSE e SWITCH.<br>
                Como fazer manipulação de Strings.<br>
                Como manipular Data e Hora.<br>
                Como utilizar laços numéricos.<br>
                Como utilizar Arrays.<br>
                Como utilizar funções.<br>
                <br>
            </p>
            <p>
                Fonte: Curso de introdução a linguagem Java (Let's Code from Ada).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>