<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>JavaScript</h1>
            <br>
            <h3>
                JavaScript é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multiparadigma.
                Juntamente com o HTML e CSS, o JavaScript é uma das três principais tecnologias da World Wide Web.
            </h3>
            <br>
            <p>
                O que é e para o que serve o JavaScript.<br>
                A história do JavaScript.<br>
                O que é o EcmaScript.<br>
                Como o JavaScript se relaciona com o HTML e CSS.<br>
                O que são e para o que servem as variáveis.<br>
                Utilizar o camelCase para dar nome as variáveis.<br>
                Boas práticas para a declaração e utilização das variáveis.<br>
                Fazer a utilização correta de 'var', 'let' e 'const', sabendo diferenciá-las.<br>
                Armazenar e alterar valores de variáveis.<br>
                Boas praticas para concatenar e imprimir strings.<br>
                Tipos de dados em JavaScript.<br>
                Fazer uso dos operadores aritméticos.<br>
                Fazer uso do operador de atribuição.<br>
                Fazer uso dos operadores de comparação.<br>
                Fazer uso de operadores Lógicos.<br>
                Fazer uso do operador de concatenação.<br>
                O que são e para que servem as funções.<br>
                Como declarar funções e usar funções expressas.<br>
                O que é escopo local e escopo global.<br>
                Uso das variaveis no escopo local e escopo global.<br>
                O que são as condicionais.<br>
                Fazer o uso das condicionais 'if', 'else if' e 'else'.<br>
                O que são os Arrays.<br>
                Como declarar um Array.<br>
                Como é a estrutura de um Array.<br>
                Como acessar os índices de um Array.<br>
                Como descobrir o tamanho de um Array.<br>
                Como percorrer um Array.<br>
                Utilizar os métodos de Array push, pop, shift, unshift, join, indexOf, lastIndexOf e includes.<br>
                O que é e para que serve um arquivo JSON.<br>
                Como utilizar os métodos stringify e parse do objetivo nativo JSON.<br>
                Como utilizar os métodos de String: length, indexOf, slice, trim, split, e replace.<br>
                O que são e como utilizar Objetos Literais.<br>
                Como utilizar as Arrow Functions.<br>
                Como utilizar as condicionais If Ternário e Switch.<br>
                Como utilizar o Ciclo For.<br>
                Como fazer uso dos Callbacks.<br>
                Como utilizar os métodos de Array: Map, Filter, Find, Reduce e ForEach.<br>
                Como utilizar os ciclos "For In" e "For Of".<br>
                Como utilizar o Objeto Date para definir datas.<br>
                Como utilizar a Desestruturação para extrair dados de Arrays e Objetos.<br>
                Como utilizar o Spread Operator (Operador de Propagação) para combinar valores de Arrays, Objetos e Funções.<br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Curso JavaScript e TypeScript (Udemy - Luiz Otávio). Curso de JavaScript (Curso em Vídeo - Gustavo Guanabara). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>


