<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>Metodologias Ágeis</h1>
            <br>
            <h3>Desenvolvimento Ágil de Software ou Método ágil é uma disciplina que estuda um conjunto de comportamentos, processos, práticas e ferramentas utilizados para a criação de produtos e sua subsequente disponibilização para os usuários finais.</h3>
            <br>
            <p>
                O que são Metodologias de Desenvolvimento.<br>
                Como as Metodologias de Software se inspiraram em processos industriais.<br>
                Como o artigo de Winston Royce definiu o modelo sequencial de Desenvolvimento de Software.<br>
                A importância do Método Cascata desenvolvido por Winston Royce.<br>
                O lado positivo e negativo do Método Cascata.<br>
                Como o relatório CHAOS mostrou que com o passar do tempo o Método Cascata não era tão eficaz.<br>
                O que foi o Manifesto Ágil e como ele funciona.<br>
                Os 12 princípios e os 4 valores do Manifesto Ágil.<br>
                O que é e como funciona o método/framework SCRUM.<br>
                Equipe SCRUM: Product Owner, Scrum Master e Equipe de Desenvolvimento.<br>
                Cerimônias no processo do SCRUM.<br>
                <br>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).                
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>