<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/mySkills.css">
    <title>Julio Cesar Barbosa - My Skills</title>
</head>
<header>
    <img src="/images/perfil-picture.jpg" alt="Foto de perfil">
    <h1>
        Julio César Barbosa
        <br><br>
        Desenvolvedor Web Full-Stack
    </h1>
    <h2>
        <br>
        Plataformas onde eu estudo:
        <br><br>
        <img src="/images/dh-coding-school-logo.jpg" alt="Logo da Digital House">
        <img src="/images/udemy-logo.jpg" alt="Logo da Udemy">
        <br>
        <img class="last-school-image" src="/images/curso-em-video-logo.jpeg" alt="Logo do Curso em Vídeo">
        <img class="last-school-image" src="/images/lets-code-logo.png" alt="Logo da Let's Code">
    </h2>
</header>
<body>
    <nav>
        <p>HOME</p>
        <p>SOBRE MIM</p>
        <p>MY SKILLS</p>
        <p>PROJETOS</p>
        <p>CONTATO</p>
    </nav>
    <div>
        <br><br>
        <h1>CLIQUE SOBRE O ÍCONE DA TECNOLOGIA DESEJADA PARA SABER O QUE EU SEI FAZER COM ELA! ✌️</h1>
        <br><br>
        <img src="/images/web-logo.png" alt="Web Logo">
        <img src="/images/terminal-logo.png" alt="Terminal Logo">
        <img src="/images/git-logo.png" alt="Git Logo">
        <img src="/images/github-logo.jpg" alt="Github Logo">
        <br><br>
        <img src="/images/metodologia-agil-logo.jpg" alt="Metodologia Ágil Logo">
        <img src="/images/html-logo.png" alt="HTML Logo">
        <img src="/images/css-logo.png" alt="CSS Logo">
        <img src="/images/javascript-logo.jpg" alt="JavaScript Logo">
        <br><br>
        <img src="/images/node-logo.png" alt="Node Logo">
        <img src="/images/mysql-logo.jpg" alt="MYSQL Logo">
        <img src="/images/api-logo.jpg" alt="API Logo">
        <img src="/images/react-logo.png" alt="React Logo">
        <br><br>
        <img src="/images/angular-logo.png" alt="Angular Logo">
        <img src="/images/java-logo.png" alt="Java Logo">
        <br><br>
    </div>
</body>
<footer>
    <h3>Redes Sociais:</h3>
</footer>
</html>