<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>Node JS</h1>
            <br>
            <h3>Node.js é um software de código aberto, multiplataforma, baseado no interpretador V8 do Google e que permite a execução de códigos JavaScript fora de um navegador web.</h3>
            <br>
            <p>
                O que é e para que serve o ambiente Node.<br>
                Instalar o ambiente de execução Node.<br>
                Verificar a versão do Node via terminal.<br>
                Testar o ambiente Node via execução de código do arquivo JS pelo terminal no editor de código-fonte (VS CODE).<br>
                O que é e para que serve o gerenciador de pacotes do Node (NPM).<br>
                Iniciar um projeto Node via comando NPM.<br>
                Instalar bibliotecas no projeto Node via comando NPM.<br>
                O que são e para que servem os módulos no Node.<br>
                Criar o arquivo de entrada (Entry Point), importar e exportar módulos utilizando JavaScript.<br>
                Como criar, exportar, importar e executar os próprios módulos.<br>
                Como importar módulos nativos do Node.<br>
                Como importar instalar e importar módulos de terceiros.<br>
                Como utilizar os métodos HTTP: GET, POST, PUT, PATCH e DELETE.<br>
                Códigos de estados e de erros HTTP.<br>
                Como importar o módulo nativo HTTP.<br>
                Como criar um servidor local com o método "createServer" do módulo HTTP.<br>
                Como utilizar o método "listen" para definir uma porta e um domínio para o servidor local.<br>
                Como utilizar os métodos "writeHead" e "end" do objeto "res" e o método "url" do objeto "req".<br>
                O que é e o que faz o Framework Express.<br>
                Como criar um servidor local com o Express, utilizando o método "listen".<br>
                Como criar rotas com o Express.<br>
                Como criar um sistema de roteamento no Express.<br>
                Como criar rotas parametrizadas.<br>
                Instalar e utilizar o pacote "Nodemon" para reinicializar o servidor automaticamente.<br>
                O que são as rotas na aplicação Web.<br>
                Sistema de roteamento.<br>
                Estrutura de arquivos.<br>
                O que é um Design Pattern.<br>
                Como funciona o padrão de design MVC (Model, View E Controller).<br>
                Como instalar e utilizar o Express Generator.<br>
                Como criar controladores.<br>
                O que é e o que faz um Template Engine.<br>
                Instalação e implementação do Template EJS.<br>
                Como criar e renderizar uma View.<br>
                Tags em EJS.<br>
                Configurando e exibindo HTML com EJS.<br>
                Estruturas condicionais com EJS.<br>
                Estruturas de repetição com EJS.<br>
                Parâmetros compartilhados.<br>
                Partial Files.<br>
                O que é e o que faz um Middleware.<br>
                Como instalar o Framework Bootstrap.<br>
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Curso de Node (Udemy - Matheus Battisti). Curso Formação Node (Udemy - Victor Lima). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>