<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>Node JS</h1>
            <br>
            <h3>Node.js é um software de código aberto, multiplataforma, baseado no interpretador V8 do Google e que permite a execução de códigos JavaScript fora de um navegador web.</h3>
            <br>
            <ul>
                <li>O que é e o que faz o ambiente Node.</li>
                <li>Instalar o ambiente de execução Node.</li>
                <li>Verificar a versão do Node via terminal.</li>
                <li>Testar o ambiente Node via execução de código do arquivo JS pelo terminal no editor de código-fonte (VS CODE).</li>
                <li>O que é e o que faz o gerenciador de pacotes do Node (NPM).</li>
                <li>Iniciar um projeto Node via comando NPM.</li>
                <li>Instalar bibliotecas no projeto Node via comando NPM.</li>
                <li>O que são e para que servem os módulos no Node.</li>
                <li>Criar o arquivo de entrada (Entry Point), importar e exportar módulos utilizando JavaScript.</li>
                <li>Como criar, exportar, importar e executar os próprios módulos.</li>
                <li>Como importar módulos nativos do Node.</li>
                <li>Como importar instalar e importar módulos de terceiros.</li>
                <li>Como utilizar os métodos HTTP: GET, POST, PUT, PATCH e DELETE.</li>
                <li>Códigos de estados e de erros HTTP.</li>
                <li>Como importar o módulo nativo HTTP.</li>
                <li>Como criar um servidor local com o método "createServer" do módulo HTTP.</li>
                <li>Como utilizar o método "listen" para definir uma porta e um domínio para o servidor local.</li>
                <li>Como utilizar os métodos "writeHead" e "end" do objeto "res" e o método "url" do objeto "req".</li>
                <li>O que é e o que faz o Framework Express.</li>
                <li>Como criar um servidor local com o Express, utilizando o método "listen".</li>
                <li>Como criar rotas com o Express.</li>
                <li>Como criar um sistema de roteamento no Express.</li>
                <li>Como criar rotas parametrizadas.</li>
                <li>Instalar e utilizar o pacote "Nodemon" para reinicializar o servidor automaticamente.</li>
                <li>O que são as rotas na aplicação Web.</li>
                <li>Sistema de roteamento.</li>
                <li>Estrutura de arquivos.</li>
                <li>O que é um Design Pattern.</li>
                <li>Como funciona o padrão de design MVC (Model, View E Controller).</li>
                <li>Como instalar e utilizar o Express Generator.</li>
                <li>Como criar controladores.</li>
                <li>O que é e o que faz um Template Engine.</li>
                <li>Instalação e implementação do Template EJS.</li>
                <li>Como criar e renderizar uma View.</li>
                <li>Tags em EJS.</li>
                <li>Configurando e exibindo HTML com EJS.</li>
                <li>Estruturas condicionais com EJS.</li>
                <li>Estruturas de repetição com EJS.</li>
                <li>Parâmetros compartilhados.</li>
                <li>Partial Files.</li>
                <li>O que é e o que faz uma aplicação CRUD.</li>
                <li>O que é e como funciona uma Query String.</li>
                <li>Como passar e recuperar dados da Query String.</li>
                <li>O que é e o que faz a biblioteca Multer.</li>
                <li>Como implementar o Multer em um projeto Express.</li>
                <li></li>
                <li>O que é exatamente um Middleware.</li>
                <li>Como podemos aplicar um middleware e suas diversas formas de aplicação.</li>
                <li>A diferença entre um middleware de aplicação global e um middleware de rota.</li>
                <li>O que é e o que faz o pacote Session.</li>
                <li>Como instalar e configurar a Session no projeto Express.</li>
                <li></li>
                <li></li>
            </ul>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Curso de Node (Udemy - Matheus Battisti). Curso Formação Node (Udemy - Victor Lima). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>