<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>React JS</h1>
            <br>
            <h3>O React é uma biblioteca JavaScript de código aberto com foco em criar interfaces de usuário em páginas web.</h3>
            <br>
            <p>
                O que é e o que faz o React.<br>
                Como instalar e inicializar um projeto React.<br>
                Como funciona o ecossistema do React.<br>
                Como funciona a arquitetura de arquivos de uma aplicação React.<br>
                O que são e o que fazem os componentes em uma aplicação React.<br>
                Como criar, exportar e importar componentes em uma aplicação React.<br>
                O que é e o que faz arquivos com a extensão JSX no React.<br>
                
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>