<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>React JS</h1>
            <br>
            <h3>O React é uma biblioteca JavaScript de código aberto com foco em criar interfaces de usuário em páginas web.</h3>
            <br>
            <ul>
                <li>O que é e o que faz o React.</li>
                <li>Como instalar e inicializar um projeto React.</li>
                <li>Como funciona o ecossistema do React.</li>
                <li>Como funciona a arquitetura de arquivos de uma aplicação React.</li>
                <li>O que são e o que fazem os componentes em uma aplicação React.</li>
                <li>Como criar, exportar e importar componentes em uma aplicação React.</li>
                <li>O que é e o que faz arquivos com a extensão JSX no React.</li>
                <li>Como definir e passar "props" aos componentes.</li>
                <li>Como utilizar "props" em um componente com o objetivo de passar dados dinâmicos.</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>