<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>React JS</h1>
            <br>
            <h3>O React é uma biblioteca JavaScript de código aberto com foco em criar interfaces de usuário em páginas web. É mantido pelo Facebook, Instagram, outras empresas e uma comunidade de desenvolvedores individuais. É utilizado nos sites da Netflix, Imgur, Feedly, Airbnb, SeatGeek, HelloSign, Walmart e outros.</h3>
            <br>
            <p>
                O que é React e por que deve ser usado.<br>
                Como criar um projeto de forma simples.<br>
                O que é a arquitetura de arquivos e quais arquivos dar importância.<br>
                O que é JSX e por que seu uso dentro deste contexto é fundamental.<br>
                O que é um componente e seus diferentes tipos.<br>
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>