<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {
        links:['header', 'navbar', 'skills', 'footer'],
        title: 'Julio Cesar Barbosa - Skills'
    }) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div id="skills-container">
            <br><br>
            <h1>CLIQUE SOBRE O ÍCONE DA TECNOLOGIA DESEJADA PARA SABER O QUE EU SEI FAZER COM ELA! ✌️</h1>
            <br><br>
            <a href="/myskills/web"><img src="/images/web-logo.png" alt="Web Logo"></a>
            <a href="/myskills/terminal"><img src="/images/terminal-logo.png" alt="Terminal Logo"></a>
            <a href="/myskills/git"><img src="/images/git-logo.png" alt="Git Logo"></a>
            <a href="/myskills/github"><img src="/images/github-logo.jpg" alt="Github Logo"></a>
            <br><br>
            <a href="/myskills/metodologiasageis"><img src="/images/metodologia-agil-logo.jpg" alt="Metodologia Ágil Logo"></a>
            <a href="/myskills/html"><img src="/images/html-logo.png" alt="HTML Logo"></a>
            <a href="/myskills/css"><img src="/images/css-logo.png" alt="CSS Logo"></a>
            <a href="/myskills/javascript"><img src="/images/javascript-logo.jpg" alt="JavaScript Logo"></a>
            <br><br>
            <a href="/myskills/nodejs"><img src="/images/node-logo.png" alt="Node Logo"></a>
            <a href="/myskills/sqlmysql"><img src="/images/mysql-logo.jpg" alt="MYSQL Logo"></a>
            <a href="/myskills/api"><img src="/images/api-logo.jpg" alt="API Logo"></a>
            <a href="/myskills/reactjs"><img src="/images/react-logo.png" alt="React Logo"></a>
            <br><br>
            <a href="/myskills/angularjs"><img src="/images/angular-logo.png" alt="Angular Logo"></a>
            <a href="/myskills/java"><img src="/images/java-logo.png" alt="Java Logo"></a>
            <br><br>
        </div>
    </body>
    <%- include('partials/footer.ejs') %>
</html>