<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <%- include('partials/head.ejs', {
        links:['header', 'navbar', 'home', 'footer'],
        title: 'Julio Cesar Barbosa - Sobre Mim'
    }) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <div>
            <br>
            <h1>SOBRE MIM</h1>
            <br>
            <p>Olá, meu nome é Julio Cesar Barbosa.</p>
            <br>
        </div>
    </body>
    <%- include('partials/footer.ejs') %>
</html>