<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/homeStyle.css">
    <title>Julio Cesar Barbosa - Sobre Mim</title>
</head>
<header>
    <img src="/images/perfil-picture.jpg" alt="Foto de perfil">
    <h1>
        Julio César Barbosa
        <br><br>
        Desenvolvedor Web Full-Stack
    </h1>
    <h2>
        <br>
        Plataformas onde eu estudo:
        <br><br>
        <img src="/images/dh-coding-school-logo.jpg" alt="Logo da Digital House">
        <img src="/images/udemy-logo.jpg" alt="Logo da Udemy">
        <br>
        <img class="last-school-image" src="/images/curso-em-video-logo.jpeg" alt="Logo do Curso em Vídeo">
        <img class="last-school-image" src="/images/lets-code-logo.png" alt="Logo da Let's Code">
    </h2>
</header>
<body>
    <nav>
        <ul>
            <li><p>HOME</p></li>
            <li><p>SOBRE MIM</p></li>
            <li><p>MINHAS SKILLS</p></li>
            <li><p>CONTATO</p></li>
        </ul>
    </nav>
    <div>
        <br>
        <h1>SOBRE MIM</h1>
        <br>
        <p>Olá, meu nome é Julio Cesar Barbosa.</p>
        <br>
    </div>
</body>
</html>