<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>SQL/MySQL</h1>
            <br>
            <h3>Structured Query Language, ou Linguagem de Consulta Estruturada ou SQL, é a linguagem de pesquisa declarativa padrão para banco de dados relacional. Muitas das características originais do SQL foram inspiradas na álgebra relacional.</h3>
            <br>
            <h3>O MySQL é um sistema de gerenciamento de banco de dados, que utiliza a linguagem SQL como interface. É atualmente um dos sistemas de gerenciamento de bancos de dados mais populares da Oracle Corporation, com mais de 10 milhões de instalações pelo mundo.</h3>
            <br>
            <p>
                Como instalar o MySQL.<br>
                Como instalar o MySQL Workbench.<br>
                Como instalar e utilizar o Wampserver.<br>
                O que é e o que faz a linguagem SQL.<br>
                O que é e o que faz o gerenciador de banco de dados MySQL.<br>
                O que é para que serve um banco de dados.<br>
                O que são relacionamentos.<br>
                Tipos de relacionamentos.<br>
                Tipos de dados.<br>
                Constraints.<br>
                Chave primária.<br>
                Chave estrangeira.<br>
                Como criar um banco de dados.<br>
                Como criar tabelas.<br>
                Como inserir dados em uma tabela.<br>
                Como adquirir dados de uma tabela.<br>
                Como deletar dados de uma tabela.<br>
                Como atualizar os dados de uma tabela.<br>
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Curso Formação Node (Udemy - Victor Lima). Curso de MySQL (Curso em Vídeo - Gustavo Guanabara). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>