<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {links:['home', 'mainSkills']}) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>Terminal</h1>
            <br>
            <h3>O terminal é chamado frequentemente de linha de comando ou shell.</h3>
            <br>
            <p>
                O que é o terminal.<br>
                O que o terminal faz e qual a sua importância no contexto da programação.<br>
                Como voltar e avançar um comando recentemente utilizado.<br>
                Como verificar em que pasta estamos.<br>
                Como autocompletar o nome de uma pasta ou arquivo no diretório atual.<br>
                Como criar uma pasta com um nome indicado.<br>
                Como acessar uma pasta indicada.<br>
                Como mostrar os arquivos na pasta onde estamos.<br>
                Como voltar uma pasta.<br>
                Como criar um arquivo de texto com um nome indicado.<br>
                Como remover um arquivo.<br>
                Como mudar o nome de um arquivo pelo novo nome indicado.<br>
                Como limpar o histórico de comandos no terminal.<br>
                Como deletar pastas.<br>
                Como abrir uma pasta no VSCODE via comando.<br>
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).    
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>