<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {
        links:['header', 'navbar', 'skills', 'footer'],
        title: 'Skills - TypeScript'
    }) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <h1>TypeScript</h1>
            <h3>
                TypeScript é um superset para o JavaScript, com tipagem estática, novos recursos e que compila para JavaScript puro.
            </h3>
            <ul>
                <li>O que é e o que faz o TypeScript.</li>
                <li>Como a tipagem estática do TypeScript adiciona segurança ao código.</li>
                <li></li>
            </ul>
            <p>
                Fonte: Curso JavaScript e TypeScript (Udemy - Luiz Otávio). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>