<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('partials/head.ejs', {
        links:[header, 'home', 'mainSkills'],
        title: 'My Skills - Web'
    }) %>
    <%- include('partials/header.ejs') %>
    <body>
        <%- include('partials/navbar.ejs') %>
        <main>
            <br>
            <h1>Web</h1>
            <br>
            <h3>A web significa um sistema de informações ligadas através de hipermídia (hiperligações em forma de texto, vídeo, som e outras animações digitais) que permitem ao usuário acessar uma infinidade de conteúdos através da internet.</h3>
            <br>
            <p>
                O que é e como funciona o modelo cliente-servidor.<br>
                O que é um Website e como as tecnologias JavaScript, CSS e HTML se relacionam com ele.<br>
                Como funciona o protocolo HTTP.<br>
                <br>
            </p>
            <p>
                Fonte: Curso Web Full-Stack (Digital House Brasil). Curso de JavaScript (Curso em Vídeo - Gustavo Guanabara). Pesquisa pessoal na internet (Documentação, Vídeos, Blogs, PDF's e Etc.).
                <br><br>
            </p>
        </main>
    </body>
    <%- include('partials/footer.ejs') %>
</html>