@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body #welcome-container {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #15a0e1, #8b33c5);
    text-align: center;
    border-bottom: solid rgba( 0, 0, 0, 0.5);
}