@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: linear-gradient(to right, #8b33c5, #15a0e1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: solid rgba( 0, 0, 0, 0.5);
}

header img {
    width: 300px;
    height: 300px;
    border: solid rgba( 0, 0, 0, 0.5);
    border-radius: 150px;
}

header h2 img {
    width: 100px;
    height: 100px;
}

.last-school-image {
    margin-bottom: 50px;
}

body nav {
    background: linear-gradient(to right, #8B0000, #0000CD);
    border-bottom: solid rgba( 0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #FFFAFA;
    font-weight: bold;
    font-size: 30px;
}

body nav p {
    cursor: pointer;
}

body #welcome-container {
    background: linear-gradient(to right, #15a0e1, #8b33c5);
    text-align: center;
}

footer {
    background: linear-gradient(to right, #0000CD, #8B0000);
    display: flex;
    justify-content: space-around;
}